@import "@/styles/abstracts/variables";

.authLayout {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: $primary-color;

  .appDetails {
    width: 35%;
  }

  .authContainer {
    background-color: $white;
    width: 65%;
    border-radius: 30px 0 0 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .authContent {
      width: 40%;
      min-width: 300px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .authTitle {
        font-size: $font-size-10;
        font-weight: 600;
        line-height: normal;
      }

      .description {
        font-size: $font-size-2;
        font-weight: 400;
        line-height: normal;
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        width: 100%;

        .formField {
          width: 100%;
          position: relative;

          .formInput {
            border: 1px solid gray;
            border-radius: 8px;
            outline: none;
            padding: 10px 15px;
            font-size: $font-size-1;
            width: 100%;
          }

          .errorText {
            font-size: $font-size-1;
            color: $error-red;
            line-height: normal;
            position: absolute;
            bottom: -20px;
            left: 0;
          }
        }

        .submitButton {
          width: 100%;
          background-color: $primary-color;
          color: $white;
          border-radius: 10px;
          padding: 10px 15px;
        }

        .termsCheckboxContainer {
          .termsCheckbox {
            width: 15px;
            height: 15px;
            accent-color: $primary-color;
            margin-right: 5px;
          }
          .termsCheckboxLabel {
            font-size: $font-size-2;
            color: $dark-font;
            line-height: normal;

            .link {
              color: $primary-color;
            }
          }
        }

        .forgotPasswordLink {
          color: $primary-color;
          font-size: $font-size-2;
        }
      }

      .redirectContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: $dark-font;
        font-size: $font-size-2;

        .redirectLink {
          color: $primary-color;
        }
      }

      .authForm {
        width: 100%;
      }
    }
  }
}
