@import "src/styles/abstracts/variables";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1)
  );
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);

  .navLeft {
    display: flex;
    align-items: center;
    gap: 30px;

    .logo {
      width: 60px;
      height: 60px;
    }

    .navItems {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .btnContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    .loginBtn {
      width: 100px;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: $primary-color;
      color: $white;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $white;
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }

    .signupBtn {
      width: 100px;
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid $primary-color;
      color: $primary-color;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}
