@import "src/styles/abstracts/variables";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  position: fixed;
  z-index: 9999;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);

  .navLeft {
    display: flex;
    align-items: center;
    gap: 30px;

    .logo {
      width: 60px;
      height: 60px;
    }

    .navItems {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .btnContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    .loginBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      padding: 8px 15px;
      border-radius: 5px;
      background-color: $primary-color;
      color: $white;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $white;
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }

    .signupBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      padding: 8px 15px;
      border-radius: 5px;
      border: 1px solid $primary-color;
      color: $primary-color;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}
