@use "@/styles/abstracts/variables" as *;
@import "src/styles/abstracts/mixins";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 26px;
  font-size: 16px !important;
  line-height: 20px !important;

  @include max($tablet-l) {
    font-size: 14px !important;
    line-height: 18px !important;
  }

  @include max($mobile-m) {
    height: 35px !important;
    padding: 10px 15px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }

  &:disabled {
    background: #d3d3d3;
    cursor: not-allowed;
    pointer-events: none !important;

    &:hover {
      background: #d3d3d3 !important;
      color: $white !important;
    }
  }

  &.primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white;
    display: flex;

    &:hover {
      background-color: lighten($primary-color, 5%) !important;
      border-color: $primary-color !important;
      color: $white !important;
    }
  }

  &.delete {
    background-color: red;
    border-color: red;
    color: $white;

    &:hover {
        background-color: darken(red, 5%) !important;
        border-color: darken(red, 5%) !important;
      color: $white !important;
    }
  }

  &.border {
    border-color: gray;
    color: grey;

    &:hover {
      color: $primary-color !important;
      border-color: $primary-color !important;
    }
  }

  &.secondary {
    border-color: $black;
    color: $black;

    &:hover {
      border-color: $primary-color !important;
      color: $primary-color !important;
    }
  }

  &.text {
    border: none;
    box-shadow: none;

    &:hover {
      color: $primary-color !important;
    }
  }
}
