@import "src/styles/abstracts/variables";

.adminPanel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: solid blue 2px;
}