@import "@/styles/abstracts/variables.scss";

.settings {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  border: solid 1px $light-border;
  border-radius: 10px;

  .subContainer {
    display: flex;
    align-items: flex-start;
    gap: 100px;

    .title {
      font-size: $font-size-5;
      font-weight: 600;
      width: 120px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .description {
        font-size: $font-size-2;
        color: gray;
        line-height: 150%;
        text-align: justify;
        width: 500px;

        .warning {
          color: $error-red;
        }
      }

      .passwordForm {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .passwordInput {
          width: 500px;
          outline: none;
          border: 1px solid $light-border;
          padding: 8px 15px;
          border-radius: 5px;
          color: $dark-font;

          &:focus {
            border: 1px solid $dark-font;
          }
        }

        .saveBtn {
          background-color: $primary-color;
          color: $white;
          font-size: $font-size-3;
          font-weight: 600;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
        }
      }
    }

    .deleteBtn {
      background-color: $error-red;
      color: $white;
      font-size: $font-size-3;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      width: fit-content;
    }
  }
}
